<% if params[:search].nil?  %>
  <% provide(:title, "All users") %>
  <h1>All users</h1>
<% else %>
  <% provide(:title, "Search results") %>
  <h1>Search results</h1>
<% end %>

<%= render 'shared/search_form' %>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
